
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 136.6rem;
}.frame-21-NsP {
  background-color: #0e1015;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;

  .auto-group-voad-ksw {
    box-sizing: border-box;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
    margin-right: 81.9rem;
    padding: 0rem 77.3rem 0rem 46.3rem;
    width: 137rem;
    height: 69rem;
    background-image: url('REPLACE_IMAGE:34e4b2a1fcdd0b3db27240dc2ef1ac59b28f43bb');

    .rectangle-51-qgR {
      width: 100%;
      height: 0.8rem;
      background-color: #000000;
    }
  }
  .auto-group-ugnq-eNy {
    flex-direction: column;
    flex-shrink: 0;
    margin: 3.1rem 63.4rem 0rem 0rem;
    width: 136.6rem;
    align-items: center;
    display: flex;

    .auto-group-z95f-VPb {
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0rem 16.1rem 58.5rem 14.6rem;
      width: 100%;
      align-items: center;
      display: flex;

      .auto-group-nxgh-wWV {
        height: 3.2rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 0rem 3.1rem 0.7rem;
        width: calc(100% - 0.7rem);

        .auto-group-3ue9-B9w {
          align-items: center;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.2rem 1.4rem 0.1rem 0rem;
          height: 100%;
          display: flex;

          .image-4-F9o {
            flex-shrink: 0;
            margin: 0.2rem 0.9rem 0rem 0rem;
            width: 2.7rem;
            height: 2.7rem;
            object-fit: cover;
            vertical-align: top;
          }
          .syncro-rQV {
            line-height: 1.1875;
            color: #ffffff;
            font-family: Poller One, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0.2rem 54.4rem 0rem 0rem;
            font-size: 1.7rem;
            font-weight: 400;
          }
          .auto-group-wxmb-SfX {
            background-color: #1b1d23;
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            box-sizing: border-box;
            padding: 0.6rem 20.2rem 0.7rem 1.4rem;
            display: flex;
            border: solid 0.1rem rgba(255, 255, 255, 0.0599999987);
            backdrop-filter: blur(0.2rem);
            align-items: center;
            border-radius: 0.4rem;

            .vector-v4u {
              margin-right: 0.7rem;
              width: 0.9rem;
              height: 0.9rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .search-1s3 {
              font-size: 1.2rem;
              font-weight: 500;
              line-height: 1.2125;
              color: #797c83;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .group-17-Bf3 {
          box-sizing: border-box;
          height: 100%;
          display: flex;
          align-items: center;
          border-radius: 0.4rem;
          padding: 0.6rem 1.3rem 0.5rem 1.426rem;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background: linear-gradient(180deg, #272a30 0%, rgba(39, 42, 48, 0) 100%);
          flex-shrink: 0;

          .profile-e2q {
            margin: 0rem 0.926rem 0.201rem 0rem;
            width: 1.2476rem;
            height: 1.2487rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .sign-in-WKw {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.5;
            color: #898d94;
            font-family: Poppins, 'Source Sans Pro';
          }
        }
      }
      .auto-group-vf8r-5XT {
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        margin: 0rem 46.4rem 6.6rem 0rem;

        .dashboard-bkh {
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.1rem 3.7rem 0rem 0rem;
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.5;
        }
        .tracker-v2H {
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.1rem 3.7rem 0rem 0rem;
          font-size: 1.2rem;
          font-weight: 500;
        }
        .leaderboards-SWR {
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 4rem;
          font-size: 1.2rem;
          font-weight: 500;
        }
        .calender-Ney {
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 3.9rem;
          font-size: 1.2rem;
          font-weight: 500;
          line-height: 1.5;
        }
        .collaborators-Hmw {
          flex-shrink: 0;
          font-size: 1.2rem;
          font-weight: 500;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .auto-group-omqf-RdF {
        flex-shrink: 0;
        margin-right: 3.1456rem;
        width: calc(100% - 3.1456rem);
        height: 39rem;
        display: flex;
        align-items: center;

        .auto-group-4tsx-AKw {
          background-color: rgba(19, 21, 27, 0.200000003);
          border-radius: 1.2rem;
          flex-shrink: 0;
          width: 50.2rem;
          height: 100%;
          position: relative;
          border: solid 0.04rem rgba(249, 249, 249, 0.200000003);
          box-sizing: border-box;

          .leader-board-H9f {
            height: 2.2rem;
            position: absolute;
            font-weight: 700;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            color: #ffffff;
            width: 13.9rem;
            left: 3.9rem;
            top: 1.2rem;
            font-size: 1.8rem;
            line-height: 1.2125;
          }
          .auto-group-fqtk-AjF {
            top: 13.2rem;
            display: flex;
            align-items: center;
            width: 39.6rem;
            height: 2.7rem;
            position: absolute;
            left: 2.5rem;

            .rectangle-255-Hos {
              margin-right: 2.6rem;
              width: 2.7rem;
              height: 2.7rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
            .alex-bZf {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #ffffff;
            }
            .auto-group-cxl9-jQy {
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 0.6rem 0rem 0.3rem 13.6rem;

              .item-1003-Tbs {
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 11.9rem 0.3rem 0rem;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.2125;
                color: #ffffff;
              }
              .item-309-Niq {
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-top: 0.3rem;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.2125;
              }
            }
          }
          .auto-group-xcsp-J6h {
            align-items: center;
            width: 39.8rem;
            height: 2.7rem;
            position: absolute;
            left: 2.5rem;
            top: 18.8rem;
            display: flex;

            .rectangle-305-1mo {
              margin-right: 2.6rem;
              width: 2.7rem;
              height: 2.7rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
            .mike-8Ld {
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 13.8rem;
            }
            .item-1006-eZs {
              margin: 0.4rem 12.1rem 0rem 0rem;
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .item-300-NEy {
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 0.4rem;
            }
          }
          .auto-group-ujkd-J8d {
            width: 39.7rem;
            height: 2.7rem;
            position: absolute;
            left: 2.5rem;
            top: 25rem;
            display: flex;
            align-items: center;

            .rectangle-306-p6y {
              margin-right: 2.6rem;
              width: 2.7rem;
              height: 2.7rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
            .rock-Y2y {
              font-weight: 700;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 13.3rem;
              font-size: 1.2rem;
            }
            .item-1256-UBX {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0.2rem 12.2rem 0rem 0rem;
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #ffffff;
            }
            .item-268-bG9 {
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 0.2rem;
              font-size: 1.2rem;
              font-weight: 700;
            }
          }
          .auto-group-diow-XQh {
            width: 39.6rem;
            height: 2.7rem;
            position: absolute;
            left: 2.5rem;
            top: 31rem;
            display: flex;
            align-items: center;

            .rectangle-307-F5o {
              margin-right: 2.6rem;
              width: 2.7rem;
              height: 2.7rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
            .you-Nw7 {
              margin-right: 14.1rem;
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .item-2555-7do {
              font-weight: 700;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0.2rem 12.1rem 0rem 0rem;
              font-size: 1.2rem;
            }
            .item-252-ds3 {
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 0.2rem;
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.2125;
            }
          }
          .check-where-do-you-and-your-peers-lie-mTT {
            position: absolute;
            font-size: 1.2rem;
            line-height: 1.2125;
            color: #5f6168;
            font-family: Inter, 'Source Sans Pro';
            width: 22.3rem;
            left: 3.9rem;
            top: 4rem;
            font-weight: 500;
            white-space: nowrap;
            height: 1.5rem;
          }
          .auto-group-zac5-Tr5 {
            left: 0.1rem;
            display: flex;
            width: 50rem;
            position: absolute;
            height: 4rem;
            top: 8rem;
            align-items: center;
            background-color: #181a20;
            box-sizing: border-box;
            padding: 1.3rem 8.2rem 1rem 4rem;

            .tasks-MAm {
              font-weight: 700;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 16.3rem;
              font-size: 1.4rem;
            }
            .rank-seu {
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #717378;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 11rem 0.2rem 0rem;
            }
            .points-bau {
              flex-shrink: 0;
              margin-bottom: 0.2rem;
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #717378;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .tasktabdivider0-853 {
            left: 1.2rem;
            top: 17.1rem;
            background-color: rgba(24, 26, 32, 0.8000000119);
            opacity: 0.8;
            width: 45.3rem;
            height: 0.1rem;
            position: absolute;
          }
          .tasktabdivider1-Rpq {
            opacity: 0.8;
            width: 45.3rem;
            height: 0.1rem;
            position: absolute;
            left: 1.2rem;
            top: 23.2rem;
            background-color: rgba(24, 26, 32, 0.8000000119);
          }
          .auto-group-zpfs-KvD {
            width: 45.9rem;
            height: 0.1rem;
            position: absolute;
            left: 1.2rem;
            top: 29.3rem;

            .tasktabdivider2-rfF {
              background-color: rgba(24, 26, 32, 0.8000000119);
              opacity: 0.8;
              width: 45.3rem;
              height: 0.1rem;
              position: absolute;
              left: 0.6rem;
              top: 0;
            }
            .tasktabdivider3-BBj {
              left: 0;
              top: 0;
              background-color: rgba(24, 26, 32, 0.8000000119);
              opacity: 0.8;
              width: 45.3rem;
              height: 0.1rem;
              position: absolute;
            }
          }
          .tasktabdivider4-hvm {
            height: 0.1rem;
            position: absolute;
            left: 1.8rem;
            top: 35.4rem;
            background-color: rgba(24, 26, 32, 0.8000000119);
            opacity: 0.8;
            width: 45.3rem;
          }
        }
        .auto-group-vrqb-C6q {
          box-sizing: border-box;
          padding: 0.6rem 0rem 0.6rem 21.1rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .auto-group-g6i1-7zV {
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin: 0rem 1.7rem 6.118rem 0rem;

            .auto-group-tezk-eUd {
              white-space: nowrap;
              border-radius: 0.4rem;
              font-family: Inter, 'Source Sans Pro';
              justify-content: center;
              background-color: rgba(40, 42, 48, 0.8999999762);
              line-height: 1.2125;
              color: #ffffff;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 1.1rem 3.5rem 0rem;
              width: 16rem;
              height: 3.4rem;
              font-size: 1.8rem;
              font-weight: 700;
            }
            .group-12-u9f {
              flex-shrink: 0;
              margin-left: 1.1rem;
              width: 16rem;
              height: 24.782rem;
              position: relative;

              .rectangle-85-cZs {
                top: 1.8045rem;
                background-color: #1c171d;
                border-radius: 0.4rem;
                width: 16rem;
                height: 22.9774rem;
                position: absolute;
                left: 0;
              }
              .rectangle-86-LVs {
                width: 4.2105rem;
                height: 3.4887rem;
                position: absolute;
                left: 5.6541rem;
                top: 0;
                background-color: #2d2825;
                border-radius: 0.2rem;
              }
              .rectangle-87-GeR {
                width: 16rem;
                height: 4.0902rem;
                position: absolute;
                left: 0;
                top: 20.6918rem;
                background-color: #272a30;
                border-radius: 0 0 0.4rem 0.4rem;
              }
              .leader-board-zqK {
                left: 3.8rem;
                font-weight: 500;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                width: 8.1rem;
                height: 1.8rem;
                position: absolute;
                top: 21.8rem;
                font-size: 1.2rem;
                line-height: 1.5;
                color: #ffffff;
              }
              .item-2-uSV {
                line-height: 1.5;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                position: absolute;
                height: 1.8rem;
                left: 6.8571rem;
                top: 0.7218rem;
                font-size: 1.2rem;
                font-weight: 500;
                color: #ffffff;
                width: 1.8rem;
              }
              .africa-21K {
                width: 3.6rem;
                height: 1.8rem;
                position: absolute;
                font-size: 1.2rem;
                line-height: 1.5;
                left: 5.6541rem;
                top: 4.3308rem;
                font-weight: 500;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
              }
              .crazy-x-jgR {
                height: 1.8rem;
                top: 13.3534rem;
                font-size: 1.2rem;
                line-height: 1.5;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                width: 4.4rem;
                position: absolute;
                left: 5.4135rem;
                font-weight: 500;
                color: #ffffff;
              }
              .pts-rW9 {
                font-weight: 500;
                width: 4.8rem;
                height: 1.8rem;
                top: 16.7217rem;
                font-size: 1.2rem;
                line-height: 1.5;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                position: absolute;
                left: 5.6541rem;
              }
              .ellipse-146-NDb {
                background-image: url('REPLACE_IMAGE:23d043f1fd2d061e558134be02a7b569e5bf661c');
                border-radius: 2.5865rem;
                width: 5.1729rem;
                height: 5.1729rem;
                left: 5.4135rem;
                background-size: 100% 100%;
                background-repeat: no-repeat;
                position: absolute;
                top: 6.9774rem;
                background-position: center;
              }
            }
          }
          .group-23-FYH {
            margin: 9.4rem 0rem 8.8rem 0rem;
            width: 12.6544rem;
            height: calc(100% - 18.2rem);
            position: relative;
            flex-shrink: 0;

            .rectangle-85-ZYy {
              width: 12.6544rem;
              height: 18.1728rem;
              position: absolute;
              left: 0;
              top: 1.4272rem;
              background-color: #1c171d;
              border-radius: 0.4rem;
            }
            .rectangle-86-637 {
              width: 3.3301rem;
              height: 2.7592rem;
              position: absolute;
              left: 4.4718rem;
              top: 0;
              background-color: #2d2825;
              border-radius: 0.2rem;
            }
            .rectangle-87-RbB {
              border-radius: 0 0 0.4rem 0.4rem;
              width: 12.6544rem;
              height: 3.235rem;
              position: absolute;
              left: 0;
              top: 16.365rem;
              background-color: #272a30;
            }
            .leader-board-ktM {
              width: 6.8rem;
              left: 2.8rem;
              top: 17.1rem;
              font-size: 1rem;
              font-weight: 500;
              color: #ffffff;
              height: 1.5rem;
              position: absolute;
              line-height: 1.5;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
            }
            .item-3-4e9 {
              height: 1.8rem;
              font-family: Poppins, 'Source Sans Pro';
              left: 5.4363rem;
              top: 0.5241rem;
              font-size: 1.2rem;
              font-weight: 500;
              line-height: 1.5;
              color: #ffffff;
              width: 1.8rem;
              position: absolute;
              white-space: nowrap;
            }
            .america-a6h {
              height: 1.8rem;
              top: 3.5636rem;
              font-size: 1.2rem;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              width: 5.2rem;
              left: 3.5496rem;
              font-weight: 500;
              line-height: 1.5;
              color: #ffffff;
              position: absolute;
            }
            .gamer-b-gfX {
              position: absolute;
              left: 3.7593rem;
              white-space: nowrap;
              font-weight: 500;
              line-height: 1.5;
              color: #ffffff;
              font-family: Poppins, 'Source Sans Pro';
              width: 5.3rem;
              height: 1.8rem;
              top: 10.5861rem;
              font-size: 1.2rem;
            }
            .pts-oEM {
              width: 4.8rem;
              height: 1.8rem;
              position: absolute;
              left: 4.2833rem;
              line-height: 1.5;
              color: #ffffff;
              top: 13.2064rem;
              font-size: 1.2rem;
              font-weight: 500;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
            }
            .ellipse-146-uHP {
              left: 4.493rem;
              top: 5.6599rem;
              background-size: 100% 100%;
              background-repeat: no-repeat;
              border-radius: 2.0456rem;
              width: 4.0913rem;
              height: 4.0913rem;
              position: absolute;
              background-position: center;
              background-image: url('REPLACE_IMAGE:7b6714cb297abc55be40d609e64c2f1d3ba3a924');
            }
          }
        }
      }
    }
    .auto-group-bw6q-auK {
      box-sizing: border-box;
      padding: 7.7rem 26rem 8.1rem 19.7rem;
      width: 100%;
      height: 31.4rem;
      display: flex;
      align-items: center;
      background-color: #07090e;
      flex-shrink: 0;

      .image-5-66y {
        margin: 0rem 1.4rem 6.9rem 0rem;
        width: 3.5rem;
        height: 3.5rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-mm7t-pHs {
        margin: 2.9rem 8.2rem 0rem 0rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .syncro-YzZ {
          font-weight: 400;
          line-height: 1.1875;
          color: #ffffff;
          font-family: Poller One, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 8rem;
          font-size: 2.4rem;
        }
        .made-with-lots-of-love-V97 {
          flex-shrink: 0;
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.5;
          color: #7e8087;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .auto-group-bfdw-pSH {
        margin: 0rem 2.4rem 6.9rem 0rem;
        width: 10rem;
        height: 8.7rem;
        position: relative;
        flex-shrink: 0;

        .about-us-partnerships-9Df {
          height: 8.7rem;
          left: 0;
          line-height: 1.8125;
          font-family: Inter, 'Source Sans Pro';
          width: 10rem;
          position: absolute;
          top: 0;
          font-size: 1.6rem;
          font-weight: 600;
          color: #ffffff;
        }
        .company-45j {
          width: 6.2rem;
          height: 1.8rem;
          font-size: 1.2rem;
          font-weight: 600;
          color: #7e8087;
          white-space: nowrap;
          position: absolute;
          left: 0.3rem;
          top: 0;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
      .auto-group-qaf7-kz9 {
        margin-right: 7.6rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .branding-faq-WCd {
          flex-shrink: 0;
          margin: 0rem 0rem 5.1rem 4.5rem;
          max-width: 7rem;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.8125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
        }
        .english-R4h {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.5;
          color: #7e8087;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
      .auto-group-huyh-A2H {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 8.5rem;
        height: 100%;

        .auto-group-6djb-JeH {
          margin-bottom: 5.1rem;
          width: 7.6rem;
          height: 8.7rem;
          position: relative;
          flex-shrink: 0;

          .facebook-twitter-2aH {
            width: 7.6rem;
            left: 0;
            top: 0;
            color: #ffffff;
            height: 8.7rem;
            position: absolute;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.8125;
            font-family: Inter, 'Source Sans Pro';
          }
          .socials-YYd {
            top: 0;
            font-size: 1.2rem;
            line-height: 1.5;
            font-family: Poppins, 'Source Sans Pro';
            width: 5.1rem;
            position: absolute;
            left: 0;
            font-weight: 500;
            color: #787b81;
            white-space: nowrap;
            height: 1.8rem;
          }
        }
        .terms-of-service-fdF {
          font-size: 1.2rem;
          font-weight: 500;
          line-height: 1.5;
          color: #787b81;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 1.2rem;
        }
      }
      .auto-group-yy2m-oDf {
        flex-direction: column;
        flex-shrink: 0;
        margin-top: 2.9rem;
        align-items: flex-end;
        display: flex;

        .instagram-our-discord-92d {
          flex-shrink: 0;
          margin: 0rem 3.9rem 5.1rem 0rem;
          max-width: 9.1rem;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.8125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
        }
        .pricavy-policy-SnR {
          color: #787b81;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.5;
        }
      }
    }
  }
  .rectangle-304-MuP {
    margin-top: 12.9rem;
    width: 136.6rem;
    height: 48.4rem;
    background-color: #07090e;
    flex-shrink: 0;
  }
}
