
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 136.6rem;
}.frame-21-NsP {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #0e1015;
}
.frame-21-NsP .auto-group-voad-ksw {
  margin-right: 81.9rem;
  box-sizing: border-box;
  padding: 0rem 77.3rem 0rem 46.3rem;
  width: 137rem;
  height: 69rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/image-3-bg.png');
  flex-shrink: 0;
}
.frame-21-NsP .auto-group-voad-ksw .rectangle-51-qgR {
  width: 100%;
  height: 0.8rem;
  background-color: #000000;
}
.frame-21-NsP .auto-group-ugnq-eNy {
  margin: 3.1rem 63.4rem 0rem 0rem;
  width: 136.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb {
  box-sizing: border-box;
  padding: 0rem 16.1rem 58.5rem 14.6rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-nxgh-wWV {
  margin: 0rem 0rem 3.1rem 0.7rem;
  width: calc(100% - 0.7rem);
  height: 3.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-nxgh-wWV .auto-group-3ue9-B9w {
  box-sizing: border-box;
  padding: 0.2rem 1.4rem 0.1rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-nxgh-wWV .auto-group-3ue9-B9w .image-4-F9o {
  margin: 0.2rem 0.9rem 0rem 0rem;
  width: 2.7rem;
  height: 2.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-nxgh-wWV .auto-group-3ue9-B9w .syncro-rQV {
  margin: 0.2rem 54.4rem 0rem 0rem;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.1875;
  color: #ffffff;
  font-family: Poller One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-nxgh-wWV .auto-group-3ue9-B9w .auto-group-wxmb-SfX {
  margin-bottom: 0.1rem;
  box-sizing: border-box;
  padding: 0.6rem 20.2rem 0.7rem 1.4rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem rgba(255, 255, 255, 0.0599999987);
  backdrop-filter: blur(0.2rem);
  background-color: #1b1d23;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-nxgh-wWV .auto-group-3ue9-B9w .auto-group-wxmb-SfX .vector-v4u {
  margin-right: 0.7rem;
  width: 0.9rem;
  height: 0.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-nxgh-wWV .auto-group-3ue9-B9w .auto-group-wxmb-SfX .search-1s3 {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #797c83;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-nxgh-wWV .group-17-Bf3 {
  box-sizing: border-box;
  padding: 0.6rem 1.3rem 0.5rem 1.426rem;
  height: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background: linear-gradient(180deg, #272a30 0%, rgba(39, 42, 48, 0) 100%);
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-nxgh-wWV .group-17-Bf3 .profile-e2q {
  margin: 0rem 0.926rem 0.201rem 0rem;
  width: 1.2476rem;
  height: 1.2487rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-nxgh-wWV .group-17-Bf3 .sign-in-WKw {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #898d94;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-vf8r-5XT {
  margin: 0rem 46.4rem 6.6rem 0rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-vf8r-5XT .dashboard-bkh {
  margin: 0.1rem 3.7rem 0rem 0rem;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-vf8r-5XT .tracker-v2H {
  margin: 0.1rem 3.7rem 0rem 0rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-vf8r-5XT .leaderboards-SWR {
  margin-right: 4rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-vf8r-5XT .calender-Ney {
  margin-right: 3.9rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-vf8r-5XT .collaborators-Hmw {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-omqf-RdF {
  margin-right: 3.1456rem;
  width: calc(100% - 3.1456rem);
  height: 39rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-omqf-RdF .auto-group-4tsx-AKw {
  width: 50.2rem;
  height: 100%;
  position: relative;
  border: solid 0.04rem rgba(249, 249, 249, 0.200000003);
  box-sizing: border-box;
  background-color: rgba(19, 21, 27, 0.200000003);
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-omqf-RdF .auto-group-4tsx-AKw .leader-board-H9f {
  width: 13.9rem;
  height: 2.2rem;
  position: absolute;
  left: 3.9rem;
  top: 1.2rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-omqf-RdF .auto-group-4tsx-AKw .auto-group-fqtk-AjF {
  width: 39.6rem;
  height: 2.7rem;
  position: absolute;
  left: 2.5rem;
  top: 13.2rem;
  display: flex;
  align-items: center;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-omqf-RdF .auto-group-4tsx-AKw .auto-group-fqtk-AjF .rectangle-255-Hos {
  margin-right: 2.6rem;
  width: 2.7rem;
  height: 2.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-omqf-RdF .auto-group-4tsx-AKw .auto-group-fqtk-AjF .alex-bZf {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-omqf-RdF .auto-group-4tsx-AKw .auto-group-fqtk-AjF .auto-group-cxl9-jQy {
  box-sizing: border-box;
  padding: 0.6rem 0rem 0.3rem 13.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-omqf-RdF .auto-group-4tsx-AKw .auto-group-fqtk-AjF .auto-group-cxl9-jQy .item-1003-Tbs {
  margin: 0rem 11.9rem 0.3rem 0rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-omqf-RdF .auto-group-4tsx-AKw .auto-group-fqtk-AjF .auto-group-cxl9-jQy .item-309-Niq {
  margin-top: 0.3rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-omqf-RdF .auto-group-4tsx-AKw .auto-group-xcsp-J6h {
  width: 39.8rem;
  height: 2.7rem;
  position: absolute;
  left: 2.5rem;
  top: 18.8rem;
  display: flex;
  align-items: center;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-omqf-RdF .auto-group-4tsx-AKw .auto-group-xcsp-J6h .rectangle-305-1mo {
  margin-right: 2.6rem;
  width: 2.7rem;
  height: 2.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-omqf-RdF .auto-group-4tsx-AKw .auto-group-xcsp-J6h .mike-8Ld {
  margin-right: 13.8rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-omqf-RdF .auto-group-4tsx-AKw .auto-group-xcsp-J6h .item-1006-eZs {
  margin: 0.4rem 12.1rem 0rem 0rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-omqf-RdF .auto-group-4tsx-AKw .auto-group-xcsp-J6h .item-300-NEy {
  margin-top: 0.4rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-omqf-RdF .auto-group-4tsx-AKw .auto-group-ujkd-J8d {
  width: 39.7rem;
  height: 2.7rem;
  position: absolute;
  left: 2.5rem;
  top: 25rem;
  display: flex;
  align-items: center;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-omqf-RdF .auto-group-4tsx-AKw .auto-group-ujkd-J8d .rectangle-306-p6y {
  margin-right: 2.6rem;
  width: 2.7rem;
  height: 2.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-omqf-RdF .auto-group-4tsx-AKw .auto-group-ujkd-J8d .rock-Y2y {
  margin-right: 13.3rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-omqf-RdF .auto-group-4tsx-AKw .auto-group-ujkd-J8d .item-1256-UBX {
  margin: 0.2rem 12.2rem 0rem 0rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-omqf-RdF .auto-group-4tsx-AKw .auto-group-ujkd-J8d .item-268-bG9 {
  margin-top: 0.2rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-omqf-RdF .auto-group-4tsx-AKw .auto-group-diow-XQh {
  width: 39.6rem;
  height: 2.7rem;
  position: absolute;
  left: 2.5rem;
  top: 31rem;
  display: flex;
  align-items: center;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-omqf-RdF .auto-group-4tsx-AKw .auto-group-diow-XQh .rectangle-307-F5o {
  margin-right: 2.6rem;
  width: 2.7rem;
  height: 2.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-omqf-RdF .auto-group-4tsx-AKw .auto-group-diow-XQh .you-Nw7 {
  margin-right: 14.1rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-omqf-RdF .auto-group-4tsx-AKw .auto-group-diow-XQh .item-2555-7do {
  margin: 0.2rem 12.1rem 0rem 0rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-omqf-RdF .auto-group-4tsx-AKw .auto-group-diow-XQh .item-252-ds3 {
  margin-top: 0.2rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-omqf-RdF .auto-group-4tsx-AKw .check-where-do-you-and-your-peers-lie-mTT {
  width: 22.3rem;
  height: 1.5rem;
  position: absolute;
  left: 3.9rem;
  top: 4rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #5f6168;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-omqf-RdF .auto-group-4tsx-AKw .auto-group-zac5-Tr5 {
  box-sizing: border-box;
  padding: 1.3rem 8.2rem 1rem 4rem;
  width: 50rem;
  height: 4rem;
  position: absolute;
  left: 0.1rem;
  top: 8rem;
  display: flex;
  align-items: center;
  background-color: #181a20;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-omqf-RdF .auto-group-4tsx-AKw .auto-group-zac5-Tr5 .tasks-MAm {
  margin-right: 16.3rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-omqf-RdF .auto-group-4tsx-AKw .auto-group-zac5-Tr5 .rank-seu {
  margin: 0rem 11rem 0.2rem 0rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #717378;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-omqf-RdF .auto-group-4tsx-AKw .auto-group-zac5-Tr5 .points-bau {
  margin-bottom: 0.2rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #717378;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-omqf-RdF .auto-group-4tsx-AKw .tasktabdivider0-853 {
  opacity: 0.8;
  width: 45.3rem;
  height: 0.1rem;
  position: absolute;
  left: 1.2rem;
  top: 17.1rem;
  background-color: rgba(24, 26, 32, 0.8000000119);
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-omqf-RdF .auto-group-4tsx-AKw .tasktabdivider1-Rpq {
  opacity: 0.8;
  width: 45.3rem;
  height: 0.1rem;
  position: absolute;
  left: 1.2rem;
  top: 23.2rem;
  background-color: rgba(24, 26, 32, 0.8000000119);
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-omqf-RdF .auto-group-4tsx-AKw .auto-group-zpfs-KvD {
  width: 45.9rem;
  height: 0.1rem;
  position: absolute;
  left: 1.2rem;
  top: 29.3rem;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-omqf-RdF .auto-group-4tsx-AKw .auto-group-zpfs-KvD .tasktabdivider2-rfF {
  opacity: 0.8;
  width: 45.3rem;
  height: 0.1rem;
  position: absolute;
  left: 0.6rem;
  top: 0;
  background-color: rgba(24, 26, 32, 0.8000000119);
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-omqf-RdF .auto-group-4tsx-AKw .auto-group-zpfs-KvD .tasktabdivider3-BBj {
  opacity: 0.8;
  width: 45.3rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(24, 26, 32, 0.8000000119);
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-omqf-RdF .auto-group-4tsx-AKw .tasktabdivider4-hvm {
  opacity: 0.8;
  width: 45.3rem;
  height: 0.1rem;
  position: absolute;
  left: 1.8rem;
  top: 35.4rem;
  background-color: rgba(24, 26, 32, 0.8000000119);
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-omqf-RdF .auto-group-vrqb-C6q {
  box-sizing: border-box;
  padding: 0.6rem 0rem 0.6rem 21.1rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-omqf-RdF .auto-group-vrqb-C6q .auto-group-g6i1-7zV {
  margin: 0rem 1.7rem 6.118rem 0rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-omqf-RdF .auto-group-vrqb-C6q .auto-group-g6i1-7zV .auto-group-tezk-eUd {
  margin: 0rem 1.1rem 3.5rem 0rem;
  width: 16rem;
  height: 3.4rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(40, 42, 48, 0.8999999762);
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-omqf-RdF .auto-group-vrqb-C6q .auto-group-g6i1-7zV .group-12-u9f {
  margin-left: 1.1rem;
  width: 16rem;
  height: 24.782rem;
  position: relative;
  flex-shrink: 0;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-omqf-RdF .auto-group-vrqb-C6q .auto-group-g6i1-7zV .group-12-u9f .rectangle-85-cZs {
  width: 16rem;
  height: 22.9774rem;
  position: absolute;
  left: 0;
  top: 1.8045rem;
  background-color: #1c171d;
  border-radius: 0.4rem;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-omqf-RdF .auto-group-vrqb-C6q .auto-group-g6i1-7zV .group-12-u9f .rectangle-86-LVs {
  width: 4.2105rem;
  height: 3.4887rem;
  position: absolute;
  left: 5.6541rem;
  top: 0;
  background-color: #2d2825;
  border-radius: 0.2rem;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-omqf-RdF .auto-group-vrqb-C6q .auto-group-g6i1-7zV .group-12-u9f .rectangle-87-GeR {
  width: 16rem;
  height: 4.0902rem;
  position: absolute;
  left: 0;
  top: 20.6918rem;
  background-color: #272a30;
  border-radius: 0 0 0.4rem 0.4rem;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-omqf-RdF .auto-group-vrqb-C6q .auto-group-g6i1-7zV .group-12-u9f .leader-board-zqK {
  width: 8.1rem;
  height: 1.8rem;
  position: absolute;
  left: 3.8rem;
  top: 21.8rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-omqf-RdF .auto-group-vrqb-C6q .auto-group-g6i1-7zV .group-12-u9f .item-2-uSV {
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  left: 6.8571rem;
  top: 0.7218rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-omqf-RdF .auto-group-vrqb-C6q .auto-group-g6i1-7zV .group-12-u9f .africa-21K {
  width: 3.6rem;
  height: 1.8rem;
  position: absolute;
  left: 5.6541rem;
  top: 4.3308rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-omqf-RdF .auto-group-vrqb-C6q .auto-group-g6i1-7zV .group-12-u9f .crazy-x-jgR {
  width: 4.4rem;
  height: 1.8rem;
  position: absolute;
  left: 5.4135rem;
  top: 13.3534rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-omqf-RdF .auto-group-vrqb-C6q .auto-group-g6i1-7zV .group-12-u9f .pts-rW9 {
  width: 4.8rem;
  height: 1.8rem;
  position: absolute;
  left: 5.6541rem;
  top: 16.7217rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-omqf-RdF .auto-group-vrqb-C6q .auto-group-g6i1-7zV .group-12-u9f .ellipse-146-NDb {
  width: 5.1729rem;
  height: 5.1729rem;
  position: absolute;
  left: 5.4135rem;
  top: 6.9774rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-146-bg.png');
  border-radius: 2.5865rem;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-omqf-RdF .auto-group-vrqb-C6q .group-23-FYH {
  margin: 9.4rem 0rem 8.8rem 0rem;
  width: 12.6544rem;
  height: calc(100% - 18.2rem);
  position: relative;
  flex-shrink: 0;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-omqf-RdF .auto-group-vrqb-C6q .group-23-FYH .rectangle-85-ZYy {
  width: 12.6544rem;
  height: 18.1728rem;
  position: absolute;
  left: 0;
  top: 1.4272rem;
  background-color: #1c171d;
  border-radius: 0.4rem;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-omqf-RdF .auto-group-vrqb-C6q .group-23-FYH .rectangle-86-637 {
  width: 3.3301rem;
  height: 2.7592rem;
  position: absolute;
  left: 4.4718rem;
  top: 0;
  background-color: #2d2825;
  border-radius: 0.2rem;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-omqf-RdF .auto-group-vrqb-C6q .group-23-FYH .rectangle-87-RbB {
  width: 12.6544rem;
  height: 3.235rem;
  position: absolute;
  left: 0;
  top: 16.365rem;
  background-color: #272a30;
  border-radius: 0 0 0.4rem 0.4rem;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-omqf-RdF .auto-group-vrqb-C6q .group-23-FYH .leader-board-ktM {
  width: 6.8rem;
  height: 1.5rem;
  position: absolute;
  left: 2.8rem;
  top: 17.1rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-omqf-RdF .auto-group-vrqb-C6q .group-23-FYH .item-3-4e9 {
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  left: 5.4363rem;
  top: 0.5241rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-omqf-RdF .auto-group-vrqb-C6q .group-23-FYH .america-a6h {
  width: 5.2rem;
  height: 1.8rem;
  position: absolute;
  left: 3.5496rem;
  top: 3.5636rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-omqf-RdF .auto-group-vrqb-C6q .group-23-FYH .gamer-b-gfX {
  width: 5.3rem;
  height: 1.8rem;
  position: absolute;
  left: 3.7593rem;
  top: 10.5861rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-omqf-RdF .auto-group-vrqb-C6q .group-23-FYH .pts-oEM {
  width: 4.8rem;
  height: 1.8rem;
  position: absolute;
  left: 4.2833rem;
  top: 13.2064rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-z95f-VPb .auto-group-omqf-RdF .auto-group-vrqb-C6q .group-23-FYH .ellipse-146-uHP {
  width: 4.0913rem;
  height: 4.0913rem;
  position: absolute;
  left: 4.493rem;
  top: 5.6599rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-146-bg-Pz5.png');
  border-radius: 2.0456rem;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-bw6q-auK {
  box-sizing: border-box;
  padding: 7.7rem 26rem 8.1rem 19.7rem;
  width: 100%;
  height: 31.4rem;
  display: flex;
  align-items: center;
  background-color: #07090e;
  flex-shrink: 0;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-bw6q-auK .image-5-66y {
  margin: 0rem 1.4rem 6.9rem 0rem;
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-bw6q-auK .auto-group-mm7t-pHs {
  margin: 2.9rem 8.2rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-bw6q-auK .auto-group-mm7t-pHs .syncro-YzZ {
  margin-bottom: 8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1875;
  color: #ffffff;
  font-family: Poller One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-bw6q-auK .auto-group-mm7t-pHs .made-with-lots-of-love-V97 {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #7e8087;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-bw6q-auK .auto-group-bfdw-pSH {
  margin: 0rem 2.4rem 6.9rem 0rem;
  width: 10rem;
  height: 8.7rem;
  position: relative;
  flex-shrink: 0;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-bw6q-auK .auto-group-bfdw-pSH .about-us-partnerships-9Df {
  width: 10rem;
  height: 8.7rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.8125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-bw6q-auK .auto-group-bfdw-pSH .company-45j {
  width: 6.2rem;
  height: 1.8rem;
  position: absolute;
  left: 0.3rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #7e8087;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-bw6q-auK .auto-group-qaf7-kz9 {
  margin-right: 7.6rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-bw6q-auK .auto-group-qaf7-kz9 .branding-faq-WCd {
  margin: 0rem 0rem 5.1rem 4.5rem;
  max-width: 7rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.8125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-bw6q-auK .auto-group-qaf7-kz9 .english-R4h {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #7e8087;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-bw6q-auK .auto-group-huyh-A2H {
  margin-right: 8.5rem;
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-bw6q-auK .auto-group-huyh-A2H .auto-group-6djb-JeH {
  margin-bottom: 5.1rem;
  width: 7.6rem;
  height: 8.7rem;
  position: relative;
  flex-shrink: 0;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-bw6q-auK .auto-group-huyh-A2H .auto-group-6djb-JeH .facebook-twitter-2aH {
  width: 7.6rem;
  height: 8.7rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.8125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-bw6q-auK .auto-group-huyh-A2H .auto-group-6djb-JeH .socials-YYd {
  width: 5.1rem;
  height: 1.8rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #787b81;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-bw6q-auK .auto-group-huyh-A2H .terms-of-service-fdF {
  margin-right: 1.2rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #787b81;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-bw6q-auK .auto-group-yy2m-oDf {
  margin-top: 2.9rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-bw6q-auK .auto-group-yy2m-oDf .instagram-our-discord-92d {
  margin: 0rem 3.9rem 5.1rem 0rem;
  max-width: 9.1rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.8125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.frame-21-NsP .auto-group-ugnq-eNy .auto-group-bw6q-auK .auto-group-yy2m-oDf .pricavy-policy-SnR {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #787b81;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-21-NsP .rectangle-304-MuP {
  margin-top: 12.9rem;
  width: 136.6rem;
  height: 48.4rem;
  background-color: #07090e;
  flex-shrink: 0;
}
